/** @format */
$primaryColor: #00004d;
$secondaryColor: #0000b4;
$primaryText: #ffffff;
$secondaryText: #b27300;

body {
  background: $primaryColor;
  color: $primaryText;
}
a {
  color: $secondaryText;
}
a:hover {
  color: goldenrod;
}
a:focus,
a:active {
  color: yellow;
}
#navBar {
  background-color: $secondaryColor;
  a:hover {
    color: goldenrod;
  }
  .active {
    color: $primaryText;
  }
}
.navbar-brand {
  font-size: 2em;
}

#logo {
  width: 60px;
  height: auto;
}
.fa-copyright {
  font-size: 10px;
}
#welcome {
  position: center;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em;
  text-align: center;
}
#reviews > h1 {
  width: 100%;
  height: auto;
  padding: 0;
}
#facebook {
  width: 100%;
  height: auto;
  overflow: auto;
}
.card {
  background-color: $secondaryColor;
}
.card-deck {
  margin: 0px;
}
.card-img-bottom {
  border-radius: 50%;
  max-width: 30%;
}
#infoHead {
  margin-top: 2em;
}
#infoBody {
  text-align: center;
  margin-top: 1em;
}
